i.icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    &.gitlab {
        background-image: url('/img/svg/gitlab.svg');
    }

    &.thors-coding {
        background-image: url('/img/tc/ico/icon.ico');
    }
}