@font-face {
  font-family: 'Radlush';
  src: url('/fonts/Radlush/woff/Radlush-Regular-f2ba.woff') format('woff'),
       url('/fonts/Radlush/ttf/RadlushRegular-8O7zz.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/fonts/Radlush/woff/Radlush-Medium-b978.woff') format('woff'),
       url('/fonts/Radlush/ttf/RadlushMedium-BL7p5.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/fonts/Radlush/woff/Radlush-SemiBold-cfbf.woff') format('woff'),
       url('/fonts/Radlush/ttf/RadlushSemiBold-Yqlgv.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/fonts/Radlush/woff/Radlush-Bold-5258.woff') format('woff'),
       url('/fonts/Radlush/ttf/RadlushBold-1joYZ.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/fonts/Radlush/woff/Radlush-ExtraBold-9f81.woff') format('woff'),
       url('/fonts/Radlush/ttf/RadlushExtraBold-R93g3.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Radlush';
  src: url('/fonts/Radlush/woff/Radlush-Black-9b12.woff') format('woff'),
       url('/fonts/Radlush/ttf/RadlushBlack-nA21Y.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}