img.svelte-lbsfd2{width:15rem;height:15rem;border:.25rem solid var(--color-purple-light);border-radius:50%}p.svelte-lbsfd2{max-width:50em;font-size:1.25em;@media (width >= 48rem){text-align:justify}}
